*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-columns: 4fr;
  grid-template-rows: 4fr 1fr;
}

.sidebar {
 background-color: rgb(179, 215, 239);
 grid-area: 1 / col4-start / last-line / 5;
}

.sidebar-items {
  list-style: none;
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}