*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}



body {
  display: grid;
  grid-template-rows: auto;
  grid-template-areas: 
    "header header header header"
    "main main  sidebar"
    "footer footer footer footer";
}



.sidebar {
 height: 95vh;
 width: 200px;
 background-color: rgb(179, 215, 239);
 display:flex;
 flex-direction: column;
 justify-content:space-around;
 align-items: center;
}

.sidebar-items {
  list-style: none;
  display:flex;
  flex-direction: column;
  justify-content:space-around;
  align-items: center;
  height: 60%;
  width: 50%;
  color:black ;
  border: 2px solid red;
}

.icon{
  border: 2px solid red;
  height: 150px;
}

.main-content{
  width: 60%;
  border: 2px solid red;
}

.footer{
  display:flex;
  justify-content:space-around;
  align-items: center;
  color: #fff;
  background-color: black;
  height: 5vh;
}