*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}



body {
  display: grid;
  grid-template-rows: auto;
  grid-template-areas: 
    "header header header header"
    "main main  sidebar"
    "footer footer footer footer";
}


.page-container{
  display:flex;
  justify-content:space-between;
}

.sidebar {
 height: 95vh;
 width: 200px;
 background-color: #bedcfa;
 display:flex;
 flex-direction: column;
 justify-content:space-around;
 align-items: center;
}

.sidebar-items {
  list-style: none;
  display:flex;
  flex-direction: column;
  justify-content:space-around;
  align-items: center;
  height: 70%;
  width: 50%;
  color:black ;
  border: 5px solid rgb(218, 212, 57);
}

.icons:hover {
  cursor: pointer;
  color: #fff;
}


.main-content{
  max-width: 60%;
  margin-left: 15%;
  border: 5px solid rgba(146, 48, 141, 0.592);
}

.main-content-p{
  padding: 5% 5% 5% 5%;
}

.ads {
  width: auto;
  height: 30%;
  border: 5px solid rgb(71, 159, 20);
}

.footer{
  display:flex;
  justify-content:space-around;
  align-items: center;
  color: #fff;
  background-color: black;
  height: 5vh;
}